.row
  .col-xs-12
    Next task:

= render partial: 'single_task', locals: {task: @task, tag: @tag}

= link_to url: new_task_path, id: "new_link", class: "shortcut-link" do
  = fa_icon "lightbulb-o"
  New Task
