/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * from Bower:
 * this is weird and needs special treatment:
 * disabled...
 * = require_tree ../../../vendor/assets/bower_components/jquery-ui/themes/base
 * these are resolved thanks to bower-rails:
 *= require bootstrap-sass-official
 *= require select2
 *= require font-awesome
 *
 * standard rails:
 *= require_tree .
 *= require_tree ../../../lib/assets/stylesheets
 *= require_tree ../../../vendor/assets/stylesheets
 *= require_self
 */

#outer-central-container {
  position: relative;
}

#inner-central-container {
  position: relative;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  #inner-central-container {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  #inner-central-container {
    width: 768px;
  }
}

.handle {
  cursor: move;
}

.icon-grid {
  display: block;
/*  text-indent: -9999px; */
  width: 12px;
  height: 20px;
  background: image-url("grid.svg");
  background-size: 12px 20px;
  margin: 6px 10px 5px 2px
}

input.blend:focus {
    border: 1px solid #ccc;
    background-color: white;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
input.blend {
    border: none;
    background-color: #f5f5fd;
    box-shadow: none;
}

/* select2 overrides */
.select2-container--default.select2-container--focus .select2-selection--multiple {
    background-color: white;
    border: 1px solid #aaa;
}
.select2-container--default .select2-selection--multiple {
    background-color: #f5f5fd;
    border: none;
}

