/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * project rails:
 *= require fonts
 *
 *= dontrequire_tree ../../../vendor/assets/bower_components/jquery-ui/themes/base
 *
 * standard rails:
 *= require_tree .
 *= require webpack-bundle
 *= require_tree ../../../lib/assets/stylesheets
 *= require_tree ../../../vendor/assets/stylesheets
 *= require_self
 */


.gold-color {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6e6b4+0,edb210+100 */
    background: #f6e6b4; /* Old browsers */
    background: -moz-linear-gradient(top,  #f6e6b4 0%, #edb210 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #f6e6b4 0%,#edb210 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #f6e6b4 0%,#edb210 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e6b4', endColorstr='#edb210',GradientType=0 ); /* IE6-9 */
}
