- prefix = ""
- case provider
- when :facebook
  - displayname = :name
  - provider_icon = "facebook-square"
- when :twitter
  - displayname = :nickname
  - provider_icon = "twitter-square"
  - prefix = "@"
- if current_user.has_auth?(provider)
  %p.navbar-text
    = fa_icon provider_icon
    = prefix + current_user.auth_field(provider, displayname)
- else
  %p.navbar-text
    %a.navbar-link{href: user_omniauth_authorize_path(provider.to_sym)}
      = fa_icon provider_icon
      Add #{provider.to_s.capitalize}
