%nav#navigation.navbar.navbar-default
  .container-fluid
    .navbar-header
      %a.navbar-brand{href: root_path} Prioritizer
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar.top-bar
        %span.icon-bar.middle-bar
        %span.icon-bar.bottom-bar

    .collapse.navbar-collapse#navbar-collapse
      - if @suppress_nav_auth != true
        %ul.nav.navbar-nav.navbar-right
          = render partial: 'nav/auth_section', locals: {}
