%nav#navigation.navbar.navbar-default
  .container-fluid
    .navbar-header
      %a.navbar-brand{href: root_path}<
        %span#brand_0.letter> P
        %span#brand_1.letter> r
        %span#brand_2.letter> i
        %span#brand_3.letter> o
        %span#brand_4.letter> r
        %span#brand_5.letter> i
        %span#brand_6.letter> t
        %span#brand_7.letter> i
        %span#brand_8.letter> z
        %span#brand_9.letter> e
        %span#brand_10.letter> r
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar.top-bar
        %span.icon-bar.middle-bar
        %span.icon-bar.bottom-bar

    .collapse.navbar-collapse#navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li.dropdown
          %a.dropdown-toggle{href: "#", "data-toggle" => "dropdown", role: "button", "aria-haspopup" => "true", "aria-expanded" => "false"}
            Where
            %span.caret
          %ul.dropdown-menu
            - if current_user.present? && current_user.tags.present?
              - current_user.tags.each do |tag|
                %li
                  %a{href: tag_menu_tag_link_path(tag.name)}
                    %span{style: "color: green;"}
                      = tag.name
        - if @suppress_nav_auth != true
          = render partial: 'nav/auth_section', locals: {}
